=  form_for @purchase, url: {action: "create"}, html: {class: "purchase-form"} do |f|
    = f.text_field:purchaser
    = f.text_field:state 
    = f.text_field:city
    = f.text_field:address_line_1
    = f.text_field:address_line_2
    = f.text_field:apartment
    = f.text_field:zip_code

    =  f.submit "Create"