<h2><%= @post.title %></h2>
<h6><%= @post.created_at %></h6>
<h3><%= @post.tagline %></h3>

<%= button_to "Edit", edit_post_path, :class => "button", :method => :get  %>
<%= link_to "delete", @post, method: :delete, data: { confirm: "You sure?" } %>
<p><%= raw @post.body.gsub(/\n/, '<br/>') %></p>
