<h2>Art: </h2>

<% @art.each do |art_piece| %>
  <div class="art-piece">
    <h3><%= art_piece.title %></h3>


    <%= art_piece.tagline %>
    <%= art_piece.description %>
    <%= art_piece.limited %>
    <%= art_piece.quantity %>
    <%= number_to_currency(art_piece.price) %>
    <%= art_piece.image_url %>
  </div>
<% end %>
