<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  
  <title>Rocio</title>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/header' %>
    <%= yield %>
  </div>
</body>
</html>

