<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  
  <title>Rocio</title>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'site_manifest', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'site_manifest', 'data-turbolinks-track' => false %>

  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey('pk_test_RkB08WoCXINw3847wbtakf1f');
  </script>

</head>
<body>
  <div class="container">
    <%= render 'layouts/header' %>
    <%= yield %>
  </div>
</body>
</html>

